/* Desktop size *//* Desktop size *//* Desktop size */
@media (min-width: 1800px) {
   /* Menu *//* Menu *//* Menu *//* Menu *//* Menu */
   .menu {
      width: 80px;
      height: 80px;
      top: 0;
      right: 0;
      border-radius: 80px;
      display: flex !important;
   }

   .toggle-menu-box:checked ~ .menu {
      height: 410px;
   }

   .menu-names-wrap {
      height: max-content;
      width: 80px;
      right: 1000px;
      display: block !important;
   }

   .toggle-menu-box:checked ~ .menu-names-wrap {
      right: 140px;
   }

   .menu-item {
      width: 80px;
      height: 80px;
      flex: 0 0 80px;
   }

   .menu-name {
      height: 80px;
      line-height: 80px;
      font-size: 22px;
   }

   .menu-icon {
      font-size: 26px;
   }

   .menu-name:first-child,
   .menu-item:first-child {
      margin-bottom: 30px;
   }

   .menu-name + .menu-name,
   .menu-item + .menu-item {
      margin-bottom: 30px;
   }

   /* Menu main */

   /* Volume */
   .volume {
      top: 40px;
      border-radius: 30px;
   }

   .volume::before,
   .volume::after {
      inset: -5px;
      border-radius: 35px;
   }

   .volume-item {
      width: 150px;
      height: 100px;
      font-size: 24px;
   }

   .volume-item:first-child {
      border-top-left-radius: 32px;
      border-bottom-left-radius: 32px;
   }
   
   .volume-item:last-child {
      border-top-right-radius: 32px;
      border-bottom-right-radius: 32px;
   }

   .volume-icon {
      margin-left: 10px;
   }

   .escape-volume {
      font-size: 40px;
   }

   /* Menu *//* Menu *//* Menu *//* Menu *//* Menu */

   /* Main *//* Main *//* Main *//* Main *//* Main */
   .player {
      width: 100%;
   }

   .dashboard {
      padding: 30px;
      border-right: 1px dashed #ebebeb;
      width: 50%;
      left: 0;
      bottom: 0;
   }

   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */

   /* Header *//* Header *//* Header *//* Header *//* Header */
   .song-title {
      margin-bottom: 20px;
   }

   .song-playing {
      font-size: 30px;
      margin-bottom: 10px;
   }

   .song-name {
      font-size: 36px;
      line-height: 40px;
   }

   .cd {
      width: 100% !important;
      opacity: 1 !important;
   }

   .cd-thumb {
      width: 45% !important;
      padding-top: 45%;
   }

   /* Header *//* Header *//* Header *//* Header *//* Header */

   /* Control *//* Control *//* Control *//* Control */
   .control {
      padding: 20px 0;
   }

   .control .btn {
      padding: 20px;
      font-size: 40px;
   }

   .control .btn-toggle-play {
      padding: 30px;
      font-size: 50px;
   }

   .progress {
      height: 15px;
   }

   .progress::-webkit-slider-thumb {
      height: 15px;
      width: 40px;
   }

   /* Control *//* Control *//* Control *//* Control */

   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
   .playlist {
      padding: 12px;
      margin-top: 0 !important;
      margin-left: auto;
      width: 50%;
   }

   .song {
      padding: 8px 0;
      height: 120px;
      margin-bottom: 12px;
   }

   .song .thumb {
      margin-left: 16px;
   }

   .song .body {
      padding: 0 20px;
   }

   .song .title {
      font-size: 30px;
      left: 20px;
   }

   .song .author {
      font-size: 24px;
   }

   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
}

/* Desktop size *//* Desktop size *//* Desktop size */

/* Laptop size *//* Laptop size *//* Laptop size */
@media (min-width: 1100px) and (max-width: 1799px) {
   /* Menu *//* Menu *//* Menu *//* Menu *//* Menu */
   .menu {
      width: 50px;
      height: 50px;
      top: 0;
      right: 0;
      border-radius: 50px;
      display: flex !important;
   }

   .toggle-menu-box:checked ~ .menu {
      height: 260px;
   }

   .menu-names-wrap {
      height: max-content;
      width: 50px;
      right: 700px;
      display: block !important;
   }

   .toggle-menu-box:checked ~ .menu-names-wrap {
      right: 100px;
   }

   .menu-item {
      width: 50px;
      height: 50px;
      flex: 0 0 50px;
   }

   .menu-name {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
   }

   .menu-icon {
      font-size: 20px;
   }

   .menu-name:first-child,
   .menu-item:first-child {
      margin-bottom: 20px;
   }

   .menu-name + .menu-name,
   .menu-item + .menu-item {
      margin-bottom: 20px;
   }

   /* Menu main */

   /* Volume */
   .volume {
      top: 40px;
      border-radius: 20px;
   }

   .volume::before,
   .volume::after {
      inset: -3px;
      border-radius: 23px;
   }

   .volume-item {
      width: 120px;
      height: 80px;
      font-size: 20px;
   }

   .volume-item:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
   }
   
   .volume-item:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
   }

   .volume-icon {
      margin-left: 5px;
   }

   .escape-volume {
      font-size: 30px;
   }

   /* Menu *//* Menu *//* Menu *//* Menu *//* Menu */

   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
   .player {
      width: 100%;
      display: flex;
   }

   .dashboard {
      padding: 16px;
      width: 50%;
      border-right: 1px dashed #ebebeb;
      left: 0;
      bottom: 0;
   }

   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */

   /* Header *//* Header *//* Header *//* Header *//* Header */
   .song-title {
      margin-bottom: 10px;
   }

   .song-playing {
      font-size: 18px;
      margin-bottom: 10px;
   }

   .song-name {
      font-size: 21px;
   }

   .cd {
      width: 100% !important;
      opacity: 1 !important;
   }

   .cd-thumb {
      width: 45% !important;
      padding-top: 45%;
   }

   /* Header *//* Header *//* Header *//* Header *//* Header */

   /* Control *//* Control *//* Control *//* Control */
   .control {
      padding: 20px 0;
   }

   .control .btn {
      padding: 20px;
      font-size: 20px;
   }

   .control .btn-toggle-play {
      padding: 20px;
      font-size: 26px;
   }

   .progress {
      height: 10px;
   }

   .progress::-webkit-slider-thumb {
      height: 10px;
      width: 30px;
   }

   /* Control *//* Control *//* Control *//* Control */

   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
   .playlist {
      padding: 12px;
      margin-top: 0 !important;
      margin-left: auto;
      width: 50%;
   }

   .song {
      padding: 8px 0;
      height: 80px;
      margin-bottom: 12px;
   }

   .song .thumb {
      margin-left: 16px;
   }

   .song .body {
      padding: 0 16px;
   }

   .song .title {
      font-size: 18px;
      left: 16px;
   }

   .song .author {
      font-size: 16px;
   }

   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
}

/* Laptop size *//* Laptop size *//* Laptop size */

/* Big Tablet size *//* Big Tablet size *//* Big Tablet size */
@media (min-width: 850px) and (max-width: 1099px) {
   .menu {
      width: 80px;
      height: 80px;
      top: 0;
      right: 50px;
      border-radius: 80px;
   }
   
   .toggle-menu-box:checked ~ .menu {
      height: 410px;
   }
   
   .menu-names-wrap {
      height: max-content;
      width: 80px;
      right: 1200px;
   }
   
   .toggle-menu-box:checked ~ .menu-names-wrap {
      right: 180px;
   }
   
   .menu-item {
      width: 80px;
      height: 80px;
      flex: 0 0 80px;
   }
   
   .menu-name {
      height: 80px;
      line-height: 80px;
      font-size: 22px;
   }
   
   .menu-icon {
      font-size: 26px;
   }
   
   .menu-name:first-child,
   .menu-item:first-child {
      margin-bottom: 30px;
   }
   
   .menu-name + .menu-name,
   .menu-item + .menu-item {
      margin-bottom: 30px;
   }
   
   /* Menu main */
   
   /* Volume */
   .volume {
      top: 40px;
      border-radius: 20px;
   }
   
   .volume::before,
   .volume::after {
      inset: -3px;
      border-radius: 23px;
   }
   
   .volume-item {
      width: 120px;
      height: 80px;
      font-size: 20px;
   }
   
   .volume-item:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
   }
   
   .volume-item:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
   }
   
   .volume-icon {
      margin-left: 5px;
   }
   
   .escape-volume {
      font-size: 30px;
   }
   
   /* Menu *//* Menu *//* Menu *//* Menu *//* Menu */
   
   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
   .player {
      width: 100vw;
   }
   
   .dashboard {
      width: 100%;
      padding: 16px;
      border-bottom: 1px solid #ebebeb;
   }
   
   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
   
   /* Header *//* Header *//* Header *//* Header *//* Header */
   .song-title {
      margin-bottom: 40px;
   }
   
   .song-playing {
      font-size: 20px;
      margin-bottom: 10px;
   }
   
   .song-name {
      font-size: 24px;
   }
   
   .cd {
      width: 100vw;
      opacity: 1;
      margin: auto;
   }
   
   .cd-thumb {
      width: 40%;
      padding-top: 40%;
   }
   
   /* Header *//* Header *//* Header *//* Header *//* Header */
   
   /* Control *//* Control *//* Control *//* Control */
   .control {
      padding: 20px 0;
      margin-top: 30px;
   }
   
   .control .btn {
      padding: 20px;
      font-size: 32px;
   }
   
   .control .btn-toggle-play {
      padding: 20px;
      font-size: 26px;
   }
   
   .progress {
      height: 10px;
   }
   
   .progress::-webkit-slider-thumb {
      height: 10px;
      width: 30px;
   }
   
   /* Control *//* Control *//* Control *//* Control */
   
   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
   .playlist {
      padding: 12px;
   }
   
   .song {
      padding: 8px 0;
      height: 100px;
      margin-bottom: 12px;
   }
   
   .song .thumb {
      margin: 0 16px;
   }
   
   .song .body {
      padding: 0 16px;
   }
   
   .song .title {
      font-size: 22px;
      left: 16px;
   }
   
   .song .author {
      font-size: 20px;
   }

   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
}

/* Big Tablet size *//* Big Tablet size *//* Big Tablet size */

/* Tablet size *//* Tablet size *//* Tablet size */
@media (min-width: 550px) and (max-width: 849px) {
   .menu {
      width: 50px;
      height: 50px;
      top: 0;
      right: 40px;
      border-radius: 50px;
   }
   
   .toggle-menu-box:checked ~ .menu {
      height: 260px;
   }
   
   .menu-names-wrap {
      height: max-content;
      width: 50px;
      right: 900px;
   }
   
   .toggle-menu-box:checked ~ .menu-names-wrap {
      right: 140px;
   }
   
   .menu-item {
      width: 50px;
      height: 50px;
      flex: 0 0 50px;
   }
   
   .menu-name {
      height: 50px;
      line-height: 50px;
      font-size: 16px;
   }
   
   .menu-icon {
      font-size: 20px;
   }
   
   .menu-name:first-child,
   .menu-item:first-child {
      margin-bottom: 20px;
   }
   
   .menu-name + .menu-name,
   .menu-item + .menu-item {
      margin-bottom: 20px;
   }
   
   /* Menu main */
   
   /* Volume */
   .volume {
      top: 20px;
      border-radius: 20px;
   }
   
   .volume::before,
   .volume::after {
      inset: -3px;
      border-radius: 23px;
   }
   
   .volume-item {
      width: 80px;
      height: 60px;
      font-size: 16px;
   }
   
   .volume-item:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
   }
   
   .volume-item:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
   }
   
   .volume-icon {
      margin-left: 5px;
   }
   
   .escape-volume {
      font-size: 24px;
   }
   
   /* Menu *//* Menu *//* Menu *//* Menu *//* Menu */
   
   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
   .player {
      width: 100%;
   }
   
   .dashboard {
      width: 100%;
      padding: 16px;
      border-bottom: 1px solid #ebebeb;
   }
   
   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
   
   /* Header *//* Header *//* Header *//* Header *//* Header */
   .song-title {
      margin-bottom: 30px;
   }
   
   .song-playing {
      font-size: 18px;
      margin-bottom: 10px;
   }
   
   .song-name {
      font-size: 22px;
   }
   
   .cd {
      width: 100vw;
      opacity: 1;
      margin: auto;
   }
   
   .cd-thumb {
      width: 40%;
      padding-top: 40%;
   }
   
   /* Header *//* Header *//* Header *//* Header *//* Header */
   
   /* Control *//* Control *//* Control *//* Control */
   .control {
      padding: 20px 0;
      margin-top: 20px;
   }
   
   .control .btn {
      padding: 20px;
      font-size: 20px;
   }
   
   .control .btn-toggle-play {
      padding: 20px;
      font-size: 26px;
   }
   
   .progress {
      height: 10px;
   }
   
   .progress::-webkit-slider-thumb {
      height: 10px;
      width: 30px;
   }
   
   /* Control *//* Control *//* Control *//* Control */
   
   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
   .playlist {
      padding: 12px;
   }
   
   .song {
      padding: 8px 0;
      height: 80px;
      margin-bottom: 12px;
   }
   
   .song .thumb {
      margin-left: 16px;
   }
   
   .song .body {
      padding: 0 16px;
   }
   
   .song .title {
      font-size: 18px;
      left: 16px;
   }
   
   .song .author {
      font-size: 16px;
   }

   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
}

/* Tablet size *//* Tablet size *//* Tablet size */

/* Tablet horizontal *//* Tablet horizontal */

@media (min-height: 451px) and (max-height: 780px) {
   .menu {
      width: 55px;
      height: 55px;
      top: 0;
      right: 0;
      border-radius: 55px;
      display: flex !important;
   }
   
   .toggle-menu-box:checked ~ .menu {
      height: 310px;
   }
   
   .menu-names-wrap {
      display: none !important;
   }
   
   .menu-item {
      width: 55px;
      height: 55px;
      flex: 0 0 55px;
   }
   
   .menu-icon {
      font-size: 20px;
   }
   
   .menu-item:first-child {
      margin-bottom: 30px;
   }
   
   .menu-item + .menu-item {
      margin-bottom: 30px;
   }
   
   /* Menu main */
   
   /* Volume */
   .volume {
      top: 20px;
      border-radius: 20px;
   }
   
   .volume::before,
   .volume::after {
      inset: -3px;
      border-radius: 23px;
   }
   
   .volume-item {
      width: 80px;
      height: 60px;
      font-size: 16px;
   }
   
   .volume-item:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
   }
   
   .volume-item:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
   }
   
   .volume-icon {
      margin-left: 5px;
   }
   
   .escape-volume {
      font-size: 24px;
   }
   
   /* Menu *//* Menu *//* Menu *//* Menu *//* Menu */
   
   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
   
   .player {
      width: 100%;
   }
   
   .dashboard{
      border-right: 1px dashed #ebebeb;
      width: 50%;
      left: 0;
      bottom: 0;
      border-bottom: 0 !important;
      padding: 20px;
   }
   
   .playlist {
      margin-top: 0 !important;
      margin-left: auto;
      width: 50%;
   }
   
   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
   
   /* Header *//* Header *//* Header *//* Header *//* Header */
   .song-title {
      margin-bottom: 30px;
   }
   
   .song-playing {
      font-size: 20px;
      margin-bottom: 10px;
   }
   
   .song-name {
      font-size: 25px;
   }
   
   .cd {
      width: 100% !important;
      opacity: 1 !important;
      margin: auto;
   }
   
   .cd-thumb {
      width: 60%;
      padding-top: 60%;
   }
   
   /* Header *//* Header *//* Header *//* Header *//* Header */
   
   /* Control *//* Control *//* Control *//* Control */
   .control {
      padding: 20px 0;
      margin-top: 20px;
   }
   
   .control .btn {
      padding: 20px;
      font-size: 20px;
   }
   
   .control .btn-toggle-play {
      padding: 20px;
      font-size: 26px;
   }
   
   .progress {
      height: 10px;
   }
   
   .progress::-webkit-slider-thumb {
      height: 10px;
      width: 30px;
   }
   
   /* Control *//* Control *//* Control *//* Control */
   
   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
   .playlist {
      padding: 12px;
   }
   
   .song {
      padding: 8px 0;
      height: 80px;
      margin-bottom: 12px;
   }
   
   .song .thumb {
      margin-left: 16px;
   }
   
   .song .body {
      padding: 0 16px;
   }
   
   .song .title {
      font-size: 18px;
      left: 16px;
   }
   
   .song .author {
      font-size: 16px;
   }
}

/* Tablet horizontal *//* Tablet horizontal */

/* Mobile size *//* Mobile size *//* Mobile size */
@media (min-width: 310px) and (max-width: 549px) {
   .player {
      width: 100%;
   }

   .dashboard {
      width: 100%;
      padding: 16px;
      border-bottom: 1px solid #ebebeb;
   }

   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */

   /* Header *//* Header *//* Header *//* Header *//* Header */
   .song-title {
      margin-bottom: 10px;
   }

   .song-playing {
      font-size: 14px;
      margin-bottom: 2px;
   }

   .song-name {
      font-size: 16px;
   }

   .cd {
      width: 40%;
   }

   /* Header *//* Header *//* Header *//* Header *//* Header */

   /* Control *//* Control *//* Control *//* Control */
   .control {
      padding: 10px 0;
   }

   .control .btn {
      padding: 10px;
      margin-top: 10px;
      font-size: 16px;
   }

   .control .btn-toggle-play {
      padding: 15px;
      font-size: 20px;
   }

   .progress {
      height: 10px;
   }

   .progress::-webkit-slider-thumb {
      height: 10px;
      width: 30px;
   }

   /* Control *//* Control *//* Control *//* Control */

   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
   .playlist {
      padding: 12px;
   }

   .song {
      padding: 8px 0;
      height: 70px;
      margin-bottom: 12px;
   }

   .song .thumb {
      margin-left: 10px;
   }

   .song .body {
      padding: 0 10px;
   }

   .song .title {
      font-size: 16px;
      left: 10px;
   }

   .song .author {
      font-size: 14px;
   }

   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
}

/* Mobile size *//* Mobile size *//* Mobile size */

/* Mobile horizontal *//* Mobile horizontal */

@media (min-height: 310px) and (max-height: 450px) {
   .menu {
      width: 35px;
      height: 35px;
      top: 0;
      right: 0;
      border-radius: 35px;
      display: flex !important;
   }
   
   .toggle-menu-box:checked ~ .menu {
      height: 170px;
   }
   
   .menu-names-wrap {
      display: none !important;
   }
   
   .menu-item {
      width: 35px;
      height: 35px;
      flex: 0 0 35px;
   }
   
   .menu-icon {
      font-size: 14px;
   }
   
   .menu-item:first-child {
      margin-bottom: 10px;
   }
   
   .menu-item + .menu-item {
      margin-bottom: 10px;
   }
   
   /* Menu main */
   
   /* Volume */
   .volume {
      top: 20px;
      border-radius: 20px;
   }
   
   .volume::before,
   .volume::after {
      inset: -3px;
      border-radius: 23px;
   }
   
   .volume-item {
      width: 70px;
      height: 50px;
      font-size: 14px;
   }
   
   .volume-item:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
   }
   
   .volume-item:last-child {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
   }
   
   .volume-icon {
      margin-left: 5px;
   }
   
   .escape-volume {
      font-size: 24px;
   }
   
   /* Menu *//* Menu *//* Menu *//* Menu *//* Menu */
   
   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
   .player {
      width: 100%;
   }
   
   .dashboard{
      border-right: 1px dashed #ebebeb;
      width: 50%;
      left: 0;
      bottom: 0;
      border-bottom: 0 !important;
      padding: 20px;
   }
   
   .playlist {
      margin-top: 0 !important;
      margin-left: auto;
      width: 50%;
   }
   
   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
   
   /* Header *//* Header *//* Header *//* Header *//* Header */
   .song-title {
      margin-bottom: 10px;
   }
   
   .song-playing {
      font-size: 12px;
      margin-bottom: 2px;
   }
   
   .song-name {
      font-size: 13px;
   }
   
   .cd {
      width: 100% !important;
      opacity: 1 !important;
      margin: auto;
   }
   
   .cd-thumb {
      width: 40% !important;
      padding-top: 40% !important;
   }
   
   /* Header *//* Header *//* Header *//* Header *//* Header */
   
   /* Control *//* Control *//* Control *//* Control */
   .control .btn {
      padding: 10px;
      margin-top: 10px;
      font-size: 13px;
   }
   
   .control .btn-toggle-play {
      padding: 15px;
      font-size: 20px;
   }
   
   .progress {
      height: 10px;
   }
   
   .progress::-webkit-slider-thumb {
      height: 10px;
      width: 30px;
   }
   
   /* Control *//* Control *//* Control *//* Control */
   
   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
   .playlist {
      padding: 12px;
   }
   
   .song {
      padding: 8px 0;
      height: 70px;
      margin-bottom: 12px;
   }
   
   .song .thumb {
      margin-left: 10px;
   }
   
   .song .body {
      padding: 0 10px;
   }
   
   .song .title {
      font-size: 16px;
      left: 10px;
   }
   
   .song .author {
      font-size: 14px;
   }

   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
}

/* Mobile horizontal *//* Mobile horizontal */

/* Small Mobile *//* Small Mobile *//* Small Mobile */
@media (max-width: 309px) {
   
}
/* Small Mobile *//* Small Mobile *//* Small Mobile */

/* Small Mobile horizontal *//* Small Mobile horizontal */
@media (max-height: 309px) {
   
}
/* Small Mobile horizontal *//* Small Mobile horizontal */