@media screen and (orientation:landscape) and (min-width: 1100px) and (max-width: 1799px) and (min-height: 1000px) {
   .menu {
      width: 80px;
      height: 80px;
      top: 0;
      right: 0;
      border-radius: 80px;
      display: flex !important;
   }

   .toggle-menu-box:checked ~ .menu {
      height: max-content;
   }

   .menu-names-wrap {
      height: max-content;
      width: 80px;
      right: 700px;
      display: none !important;
   }

   .menu-item {
      width: 80px;
      height: 80px;
      flex: 0 0 80px;
   }

   .menu-icon {
      font-size: 30px;
   }

   .menu-item:first-child {
      margin-bottom: 50px;
   }

   .menu-item + .menu-item {
      margin-bottom: 50px;
   }

   /* Menu main */

   /* Volume */
   .volume-wrap {
      top: 150px;
      left: 50px;
      width: 40px;
      height: 160px;
   }

   .volume-wrap::before {
      left: 10px;
      bottom: 30px;
      width: 20px;
      height: 120px;
   }

   .volume-range {
      width: 20px;
      height: 120px;
      left: 10px;
      bottom: 30px;
   }

   .volume-range::before {
      width: 20px;
      height: 20px;
   }

   .volume-number {
      bottom: 5px;
      font-size: 14px;
   }

   /* Menu *//* Menu *//* Menu *//* Menu *//* Menu */

   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */
   .player {
      width: 100%;
      display: flex;
   }

   .dashboard {
      padding: 16px;
      width: 50%;
      border-right: 1px dashed #ebebeb;
      left: 0;
      bottom: 0;
   }

   /* Main *//* Main *//* Main *//* Main *//* Main *//* Main */

   /* Header *//* Header *//* Header *//* Header *//* Header */
   .song-title {
      margin-bottom: 10px;
   }

   .song-playing {
      font-size: 22px;
      margin-bottom: 10px;
   }

   .song-name {
      font-size: 26px;
   }

   .cd {
      width: 100% !important;
      opacity: 1 !important;
   }

   .cd-thumb {
      width: 80% !important;
      padding-top: 80% !important;
   }

   /* Header *//* Header *//* Header *//* Header *//* Header */

   /* Control *//* Control *//* Control *//* Control */
   .control {
      padding: 20px 0;
   }

   .control .btn {
      padding: 30px;
      font-size: 30px;
   }

   .control .btn-toggle-play {
      padding: 30px;
      font-size: 36px;
   }

   .progress {
      height: 15px;
      margin-bottom: 20px;
   }

   .progress::-webkit-slider-thumb {
      height: 15px;
      width: 40px;
   }

   /* Control *//* Control *//* Control *//* Control */

   /* Playlist *//* Playlist *//* Playlist *//* Playlist */
   .playlist {
      padding: 20px;
      margin-top: 0 !important;
      margin-left: auto;
      width: 50vw !important;
   }

   .song {
      padding: 8px 0;
      height: 80px;
      margin-bottom: 20px;
   }

   .song .thumb {
      margin-left: 16px;
   }

   .song .body {
      padding: 0 16px;
   }

   .song .title {
      font-size: 18px;
      left: 16px;
   }

   .song .author {
      font-size: 16px;
   }
}